.divCard{
  padding: 60px;
  width: 600px;
}

.mat-form-field.mat-form-field {
  width: 500px;
}

.cardErros {
  padding-top: 30px;
  padding-bottom: 30px;
}

.divErros {
  padding: 20px;
}

.textoErros {
  font-weight: 900;
  color: #c0392b;
}